{% extends "base.html" %}
{% block content %}
<div class="mt-5 container flex-column align-items-center" style="display: flex;">
  <h1 class="display-5">
    Comparison between {{ country.name }} and {{ country2.name }}
  </h1>
  <p class="lead mb-3">Regarding the number of deaths due to covid</p>
    <br/>

    <canvas id="myChart" width="1000%" height="400%"></canvas>
    <script>
    var canvas = document.getElementById('myChart');
var data = {
    labels: [ 
      {% for item in labels %}
          "{{ item }}",
      {% endfor %}
    ],
    datasets: [
        {
            label: "{{ country.name }}",
            fill:false,
            lineTension: 0.1,
            borderColor: "#040b3c",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#040b3c",
            pointBackgroundColor: "#040b3c",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "#040b3c",
            pointHoverBorderColor: "#040b3c",
            pointHoverBorderWidth: 2,
            pointRadius: 5,
            pointHitRadius: 10,
            data: [ {% for item in country.values_dead %}
              {{ item }},
            {% endfor %}
          ],
        },
        {
            label: "{{ country2.name }}",
            fill:false,
            lineTension: 0.1,
            borderColor: "#d40404",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#d40404",
            pointBackgroundColor: "#d40404",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "#d40404",
            pointHoverBorderColor: "#d40404",
            pointHoverBorderWidth: 2,
            pointRadius: 5,
            pointHitRadius: 10,
            data: [ {% for item in country2.values_dead %}
              {{ item }},
            {% endfor %}
          ],
        }
    ]
};

var option = {
	showLines: true,
  animation:false
  
};
var myLineChart = new Chart(canvas,{
  type:'line',
	data:data,
  options:option
});


  
var dl = document.createElement('a');
dl.href = myLineChart.toBase64Image();
dl.download = `Comparison_{{ country.name }}_{{ country2.name }}.png` //'my_file_name.png';
  


// Trigger the download

  </script>
</div>
<br/>
<button type=button style="background: #002432; color: white" class="btn" id='link' onclick="dl.click()">Save as png</button>
{% endblock %}