{% extends "base.html" %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
{% block content %}
<div class="mt-5 container flex flex-column align-items-center" style="display: flex;">
<div class="card" style="width: 25rem;">
    <h3 class="card-header">
        Login
    </h3>
    <div class="card-body mb-3">
          <form method="POST" action="/login">
                <div class="field mb-3">
                    <div class="control">
                        <label for="username" class="form-label">Username</label>
                        <input class="form-control" type="string" name="username" id="username" placeholder="Enter you username" autofocus="">
                    </div>
                </div>
                
                <div class="field mb-3">
                    <div class="control">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" id="password" name="password" placeholder="Enter your Password">
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <br/>
                <button class="btn btn-primary is-block is-info is-large is-fullwidth">Login</button>
            </form>
    </div>
</div>
</div>
{% endblock %}