<!DOCTYPE html> 
<html>
    <head>
        <title>Question</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style2.css')}}">
    </head>
    <body>
        <h1>{{question}}</h1>
        <form action='/Result' method='post'>
            <label>Animal</label>
            <input type='radio' name='result' value = 'animal' required>
            <label>Tech</label>
            <input type='radio' name='result' value = 'tech'>
            <br>
            <button type='submit'>Validate</button>
        </form>
        
    </body>
</html>