{% extends "base.html" %}

{% block content %}
<div class="mt-5 container flex-column align-items-center" style="display: flex;">
  <h1 class="display-4">
    Country data
  </h1>
  <p class="lead mb-3">Select a country to analyze</p>
  <form class="row" method="POST" action="/select">
    <div class="col-10">
      <select class="form-select" name="country">
        <option value="France" label="France" selected></option>
        <option value="Spain" label="Spain"></option>
        <option value="United Kingdom" label="United Kingdom"></option>
      </select>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="col-1">
      <input class="btn btn-primary" type="submit" value="Ok">
    </div>
  </form>
  {% endblock %}